body {
    margin-left: 10%;
    margin-right: 10%;
}

textarea {
    margin: auto; 
    width: 90%;
    height: 50%; 
	min-height: 3em; 
}

#footer {
	margin-top: 2em; 
}

noscript {
    font-weight: bold;
    font-size: 2em;  
    color: darkred;
    padding: 1em; 
    border: 1px solid black; 
    display: block; 
}